@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Montserrat', sans-serif;
  --font-size: 62.5%;
  --bg-color: #4CAF50;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 10vh;
  color: #fff;
}

.toolbar__menu-icon {
  font-size: 2.4rem;
  cursor: pointer;
}

.toolbar__logo {
  margin-left: 1.5rem;
}

.toolbar__logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
}

nav.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
}

.spacer {
  flex: 2;
}

ul.toolbar__nav-links {
  color: #fff;
  list-style: none;
  font-size: 1.6rem;
  display: flex;
}

.toolbar__nav-links li {
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.toolbar__nav-links li:hover {
  padding: 0.8rem 1.6rem;
  background-color: #fff;
  color: var(--bg-color);
  transition: all 0.3s ease-in-out;
}

.toolbar__nav-links a {
  text-decoration: none;
}

.container {
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 400px;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 200;
}

.side-drawer ul {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.side-drawer ul li {
  margin: 0 1rem;
  padding: 1.2rem 1.6rem;
  cursor: pointer;
}

.side-drawer ul li:hover,
.side-drawer ul li:active {
  background-color: #fff;
  padding: 1.2rem 1.6rem;
  color: var(--bg-color);
  transition: background-color 0.3s ease-in-out;
  font-weight: 700;
}

.side-drawer ul li a {
  color: #fff;
  text-decoration: none;
}

.side-drawer ul li a:hover,
.side-drawer ul li a:active {
  color: var(--bg-color);
}

main {
  margin-top: 10rem;
  font-size: 2rem;
}