* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #272727;
  display: flex;
  height: 100vh;
}

.menu-btn {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 5px solid #fff; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.menu-btn-burger {
  width: 70px;
  height: 5px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.menu-btn-burger::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  right: 15px;
}

.menu-btn-burger::before {
  transform: translateY(-20px);
}

.menu-btn-burger::after {
  transform: translateY(20px);
}

.menu-btn.open .menu-btn-burger {
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg);
  width: 70px;
}
