@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #97144D;
  --text-color: #333333;
}

html {
  // font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  --webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.headerSection {
  // .btn-group:not(:first-child) {
  //   border-top-left-radius: 1px !important;
  //   border-bottom-left-radius: 1px;
  // }
  .logo-container {
    display: flex;
    height: 100%;
    align-items: center;

    .logo-axis {
      position: relative;
      padding: 0 1.5rem;
    }

    .text-content {
      position: relative;
      color: #fff;
      padding-top: 1rem;

      p {
        font-size: 13px;
        white-space: nowrap;
      }
    }

    .logo-axis::before, .text-content::before {
      content: '';
      position: absolute;
      height: 32px;
      width: 1px;
      background: #ddd;
    }

    .logo-axis::before {
      left: 10px;
    }

    .text-content::before {
      left: -12px;
      top: 12px;
    }
  }
  button.dropdown-toggle {
    background: #fff;
    color: var(--text-color);
    border: 1px solid #ddd;
  }
  button.dropdown-toggle::after {
    width: 8px;
    height: 8px;
    border: solid var(--color-primary);
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.theme {
  background: var(--color-primary);
  position: relative;
}

.white-bg {
  background: #fff;
}

.top-menu {
  background: var(--color-primary);
}

.right-menu {
  // background: url(../images/menucurve.jpeg) no-repeat;
  // z-index: 1

  .btn-group {
    float: right;
    margin-top: 1rem;
  }
  .btn-group button {
    margin: 0 1rem;
  }
  .btn-group button:last-child {
    margin-right: 0;
  }
}

.right-menu::before {
  // content: "";
  background: url(../images/menucurve.jpeg) no-repeat;
}

.right-menu::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 4.2%;
  height: 61%;
  right: 0;
}

/* NAVIGATION */

.nav-container {
  width: 100%;
  background: #F7F8F9;
  border-radius: 5px;
  padding: 1rem 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

  .greeting {
    .col-left {
      padding: 0;
    }
    .user-content {
      color: #0a0a0a;
      line-height: 0.5;

      label {
        opacity: 0.5;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    button {
      outline: none;
      border: none;
      padding: 0.5rem 2rem;
      background-color: #fff;
      border: 1px solid transparent;
    }

    .btn-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .btn-right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #ddd;
    }

    button:hover {
      border: 1px solid var(--color-primary);
    }

    button.active {
      background: var(--color-primary);
      color: #fff;
    }
    /* .btn-nav :not(.btn-nav.active) {
      border: 1px solid #ddd;
    } */
  }

  .cta-email {
    padding-right: 0;
    .cta-container {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;

      a {
        outline: none;
        cursor: pointer;
        padding: 0.2rem 1rem;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ddd;

        label {
          cursor: pointer;
        }
      }
      a:hover {
        border: 1px solid var(--color-primary);
      }
    }
  }
}

/* FILTER SECTION */
.filter-section {
  margin-top: 1rem;

  .row:first-child {
    align-items: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  .filter-item {
    cursor: pointer;
    padding: 0.25rem 1.5rem;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

    small {
      opacity: 0.6;
    }
  }
  .filter-item * {
    cursor: pointer
  }
}

/*  */
.business-summary {
  max-height: 450px;
  overflow: auto;

  .bs-section {
    margin-bottom: 1rem;
  }
  label.bs-header {
    background: #F7F8F9;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.875rem;
  }
  .bs-content {
    margin-top: 0.3rem;

    .bs-badge {
      width: 62px;
      height: 27px;
      font-size: 10px;
      background: #F7F8F9 !important;
      color: #333;
    }
  }
  .bs-content div:first-child {
    padding-left: 0.2rem;
  }
  .bs-content:first-of-type {
    padding-left: 7px !important;
  }
  .bs-content ul {
    display: flex;
    padding-left: 0;

    .caption {
      transform: rotate(-90deg);
      background: #F7F8F9;
      padding: 0.1rem 0.6rem;
      border-radius: 5px;
      font-size: 0.75rem;
      font-weight: 500;
      box-shadow: 0 1px 2px #ddd;
    }
    li {
      display: block;
      padding: 1.2rem 1.8rem;
      position: relative;
    }

    li:first-child {
      padding: 0;
      transform: rotate(-90deg);
      margin-right: -1.5rem;
    }
    li:not(:first-child) {
      flex-basis: 90%;
      text-align: center;
    }
    .first {
      background-color: #E6F2FD;
      border-radius: 5px 0 0 5px;
    }
    .first::after, .second::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 35px;
      background-color: #fff;
      top: 15px;
      right: -2px;
      z-index: 1;
    }
    .second {
      background-color: #F5F5F5;
    }
    .third {
      background-color: #F3E5EB;
      border-radius: 0 5px 5px 0;
    }
  }
}

/* GROUP BY - FILTER */
.group-by-filter-section {
  margin-top: 1rem;
  .filter-container ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;

    li:first-child {
      border-right: 1px solid #ddd;

      button {
        margin-right: 1rem;
      }
    }

    li:nth-child(2) {
      button {
        margin-left: 1rem;
      }
    }

    button {
      // width: 80px;
      // text-align: center;
      border-radius: 30px;
      border-color: rgba(0, 0, 0, 0.08);
      padding: 0.2rem 1rem;
    }

    button:hover {
      background: var(--color-primary);
      color: #fff;
    }

    button.active {
      background: var(--color-primary);
      color: #fff;
    }
  }
  .filter-right {
    align-self: flex-end;

    button {
      border-color: #ddd;
      color: #0a0a0a;
      border-width: 2px;
      font-weight: 300;
    }

    .filter-filterby {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button:hover {
      background: unset;
      color: unset;
    }

    button::after {
      margin-left: 0.5rem;
      width: 8px;
      height: 8px;
      border: solid var(--color-primary);
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    input {
      // border-width: 2px;
      // border-left: 1px solid;
    }
  }
}

/* GROUP BY CONTENT */
.group-by-table-content {
  .table-wrapper {
    position: relative;

  }
  ul {
    display: flex;
  }

  li:first-child {
    margin-right: 1rem;
  }
  li:first-child > table {
    position: absolute;
    left: 0;
    width: 50%;
  }
  li:not(:first-child) {
    overflow-x: auto;
  }
  li:not(:first-child) > table {
    margin-left: 38rem;
    // overflow-x: auto;
  }
}