@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #97144D
}

html {
  font-size: 62.5%;
  font-family: roboto, sans-serif;
  --webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.home-left-col {
  background-color: #E8E8E8;
  min-height: 100vh;

  .logo {
    padding: 2rem;

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 2rem;
      }

      .spacer {
        padding: 1px;
        height: 4rem;
        background-color: #ddd;
      }
    }
  }

  .content {
    margin-left: 2rem;

    .greeting {
      font-size: 4.8rem;
      font-weight: 300;
    }
    h1 {
      font-size: 5.6rem;
      font-weight: 700;
      // margin-top: 1rem;
      letter-spacing: 0.1rem;
    }
  }

  .illustration {
    img {
      margin-top: 5rem;
      width: 90%;
      margin-left: 2rem;
    }
  }
}

.home-right-col {
  // width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // margin: 0 15rem;
  padding: 0 10rem;
  min-height: 100vh;

  /* @media screen and (max-width: 768px) {
    .home-right-col {
      padding: 0;
    }
  } */

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    // text-align: center;
    width: 100%;
    padding-top: 10rem;
    text-align: center;

    img {
      width: 30%;
    }

    .login-text {
      font-size: 2rem;
      font-weight: 700;
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    .info-text {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    input, button {
      width: 60%;
    }

    input {
      height: 50px;
      border-radius: 8px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
      border-color: #E8E8E8;
      font-size: 1.6rem;
    }

    button {
      margin-top: 2rem;
      background: #97144D;
      border-color: #97144D;
      border-radius: 8px;
      outline: none;
      height: 50px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      font-size: 1.6rem;
    }
  }

  .footer-text {
    .disclaimer-text {
      font-size: 1.2rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .home-right-col {
    padding: 0;
  }
}